* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center; }

h2 + p {
  opacity: 0.62;
  color: #000000;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  text-align: center; }

h3 {
  opacity: 0.75;
  color: #000000;
  font-family: 'Merriweather', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.2px; }
  h3 span {
    font-style: italic;
    font-size: 14px;
    text-transform: none;
    color: #767070; }
    @media screen and (max-width: 480px) {
      h3 span {
        font-size: 10px; } }

h3 + p {
  margin: 20px 0 20px 0;
  opacity: 0.74;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
  text-transform: none; }

.block {
  padding: 130px 5vw 120px 5vw; }

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 120px; }
  @media screen and (max-width: 600px) {
    .container {
      margin-top: 20px; } }
  .container img {
    margin: 7px; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.header {
  background: #eff0f2;
  position: relative;
  text-align: center;
  padding: 65px 5vw 0 5vw; }
  .header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease-in-out;
    position: relative; }
    .header .logo__icon {
      border: 6px solid #170f1c;
      padding: 0 10px;
      font-size: 17px;
      font-weight: 700;
      text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
      line-height: 44px;
      letter-spacing: 1.02px;
      text-align: center;
      vertical-align: center;
      cursor: pointer;
      transition: 0.2s ease-in-out; }
      .header .logo__icon:hover {
        transform: scale(1.05); }
      .header .logo__icon span {
        color: #77efe5;
        font-size: 21px;
        letter-spacing: 1.26px; }
      @media screen and (max-width: 430px) {
        .header .logo__icon {
          line-height: 2;
          font-size: 13px; } }
    .header .logo .burgerToggle {
      display: none; }
    .header .logo__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 25px;
      cursor: pointer; }
      .header .logo__burger div {
        width: 30px;
        height: 5px;
        background-color: black;
        border-radius: 3px;
        transition: 0.2s ease-in-out; }
    .header .logo__menu {
      position: absolute;
      right: 50px;
      display: none;
      border: 1px solid gray;
      line-height: 2;
      font-weight: 500; }
      @media screen and (max-width: 1200px) {
        .header .logo__menu {
          top: 0;
          flex-direction: column; } }
      @media screen and (max-width: 430px) {
        .header .logo__menu {
          right: 30px;
          font-size: 10px;
          line-height: 3.5; } }
      .header .logo__menu a {
        color: black;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        padding: 0 10px;
        text-transform: uppercase; }
        @media screen and (max-width: 430px) {
          .header .logo__menu a {
            padding: 0 5px; } }
        .header .logo__menu a:hover {
          background-color: #71f6eb; }
    .header .logo .burgerToggle:checked ~ .logo__menu {
      display: flex; }
    .header .logo .burgerToggle:checked ~ label .logo__burger div:first-child {
      transform: rotate(-45deg) translate(0, 14px); }
    .header .logo .burgerToggle:checked ~ label .logo__burger div:nth-child(2) {
      transform: translate(5px);
      opacity: 0; }
    .header .logo .burgerToggle:checked ~ label .logo__burger div:last-child {
      transform: rotate(45deg) translate(0, -14px); }
  .header__content {
    padding-top: 200px;
    text-align: center;
    width: 100%;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    color: #505050;
    font-size: 20px;
    font-weight: 800;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 150px; }
    @media screen and (max-width: 600px) {
      .header__content {
        font-size: 14px;
        margin-bottom: 50px; } }
    .header__content span {
      background-color: #77efe5; }
  .header__contactBtn {
    display: inline-block;
    padding: 20px 48px 20px 48px;
    border-radius: 2px;
    border: 2px solid #000000;
    opacity: 0.75;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.16px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    margin-bottom: 200px; }
    .header__contactBtn:hover {
      background: black;
      color: white; }
  .header__glass {
    position: absolute;
    right: 5vw;
    bottom: 5vw; }

.about {
  text-align: center;
  background-color: #f5f5f5; }
  @media screen and (max-width: 600px) {
    .about {
      padding: 50px 5vw 50px 5vw; } }
  .aboutContent {
    display: flex;
    justify-content: space-around;
    margin: 150px 0 150px 0; }
    @media screen and (max-width: 900px) {
      .aboutContent {
        margin: 50px 0 50px 0;
        flex-direction: column;
        align-items: center; } }
    .aboutContent__img {
      position: relative;
      margin-right: 50px; }
      .aboutContent__img input {
        display: none; }
      @media screen and (max-width: 900px) {
        .aboutContent__img {
          margin: 0; } }
      .aboutContent__img #aboutCheckboxImg1:checked ~ .aboutSliderImg1 {
        opacity: 1;
        z-index: 5; }
      .aboutContent__img #aboutCheckboxImg1:checked ~ label[for~=aboutCheckboxImg1] .dots__item {
        transform: scale(1.3);
        background: #77efe5; }
      .aboutContent__img #aboutCheckboxImg2:checked ~ .aboutSliderImg2 {
        opacity: 1;
        z-index: 5; }
      .aboutContent__img #aboutCheckboxImg2:checked ~ label[for~=aboutCheckboxImg2] .dots__item {
        transform: scale(1.3);
        background: #77efe5; }
      .aboutContent__img #aboutCheckboxImg3:checked ~ .aboutSliderImg3 {
        opacity: 1;
        z-index: 5; }
      .aboutContent__img #aboutCheckboxImg3:checked ~ label[for~=aboutCheckboxImg3] .dots__item {
        transform: scale(1.3);
        background: #77efe5; }
      .aboutContent__img #aboutCheckboxImg4:checked ~ .aboutSliderImg4 {
        opacity: 1;
        z-index: 5; }
      .aboutContent__img #aboutCheckboxImg4:checked ~ label[for~=aboutCheckboxImg4] .dots__item {
        transform: scale(1.3);
        background: #77efe5; }
      .aboutContent__img img {
        position: absolute;
        left: 44px;
        box-shadow: 0 0 30px lightgrey;
        transition: 0.5s ease-in-out;
        opacity: 0;
        z-index: 2; }
        .aboutContent__img img:hover {
          transform: scale(1.05); }
        @media screen and (max-width: 500px) {
          .aboutContent__img img {
            width: 70vw;
            left: 5vw; } }
      .aboutContent__img .bgRectangle {
        margin-top: 35px;
        width: 479px;
        height: 412px;
        background-color: #eff0f2;
        position: relative; }
        @media screen and (max-width: 500px) {
          .aboutContent__img .bgRectangle {
            width: 80vw;
            height: 74vw;
            margin-top: 7vw; } }
      .aboutContent__img .dots__item {
        display: inline-block;
        margin-top: 80px;
        width: 10px;
        height: 10px;
        border-radius: 3px;
        background-color: #d0d0d0;
        cursor: pointer;
        transition: 0.5s ease-in-out; }
        .aboutContent__img .dots__item:hover {
          transform: scale(1.3);
          background: #77efe5; }
        @media screen and (max-width: 600px) {
          .aboutContent__img .dots__item {
            width: 20px;
            height: 20px;
            margin: 80px 5px 0 5px; } }
    .aboutContent__text {
      width: 475px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media screen and (max-width: 900px) {
        .aboutContent__text {
          margin-top: 150px;
          width: 80vw; } }
      @media screen and (max-width: 900px) {
        .aboutContent__text h3 {
          text-align: center; } }
      @media screen and (max-width: 900px) {
        .aboutContent__text p {
          text-align: justify; } }

@media screen and (max-width: 600px) {
  .works {
    padding: 50px 5vw 50px 5vw; } }

.worksContainer img {
  transition: 0.1s ease-in-out; }
  .worksContainer img:hover {
    transform: scale(1.03);
    box-shadow: #c4c2c1 0 0 25px; }
  .worksContainer img:active {
    transform: scale(0.97);
    box-shadow: none; }
  @media screen and (max-width: 400px) {
    .worksContainer img {
      margin: 1vw;
      width: 90%;
      height: 100%; } }

.services {
  background-color: #f5f5f5; }
  @media screen and (max-width: 600px) {
    .services {
      padding: 50px 5vw 50px 5vw; } }
  .servicesContainer {
    width: 100%; }
    .servicesContainerItem {
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      margin: 10px;
      height: 375px;
      text-align: center; }
      .servicesContainerItem img {
        display: inline-block;
        width: auto;
        height: 100%;
        margin: 0 auto; }
      .servicesContainerItem__text {
        position: absolute;
        box-sizing: border-box;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 60px;
        color: white;
        height: 100%;
        width: 100%; }
        .servicesContainerItem__text:hover {
          background-color: #6df6eb;
          color: black; }
        .servicesContainerItem__text h3, .servicesContainerItem__text p, .servicesContainerItem__text a {
          color: inherit;
          opacity: 1;
          text-decoration: none; }
        @media screen and (max-width: 500px) {
          .servicesContainerItem__text h3 {
            font-size: 14px;
            line-height: 20px; } }
        @media screen and (max-width: 500px) {
          .servicesContainerItem__text h3 + p {
            font-size: 12px;
            line-height: 18px; } }
        .servicesContainerItem__text:hover a {
          display: none; }
      .servicesContainerItem-big {
        width: calc(60% - 20px); }
        @media screen and (max-width: 1000px) {
          .servicesContainerItem-big {
            width: 90%; } }
      .servicesContainerItem-small {
        width: calc(40% - 20px); }
        @media screen and (max-width: 1000px) {
          .servicesContainerItem-small {
            width: 90%; } }

@media screen and (max-width: 600px) {
  .team {
    padding: 50px 5vw 50px 5vw; } }

.teamContainerItem {
  box-sizing: border-box;
  display: flex;
  position: relative; }
  @media screen and (max-width: 480px) {
    .teamContainerItem {
      margin: 10px;
      width: 80%;
      height: auto; } }
  @media screen and (max-width: 480px) {
    .teamContainerItem img {
      width: 100%;
      height: 100%; } }
  .teamContainerItem__tail {
    display: none;
    width: 11%;
    height: 10%;
    background-color: #6df6eb;
    position: absolute;
    left: 40px;
    transform: rotate(45deg);
    bottom: 55%; }
  .teamContainerItem__text {
    display: none;
    position: absolute;
    bottom: 3%;
    left: 5%;
    padding: 40px;
    height: 65%;
    width: 90%;
    background-color: #6df6eb;
    box-shadow: 10px 10px 16px rgba(20, 20, 21, 0.18);
    box-sizing: border-box; }
    @media screen and (max-width: 480px) {
      .teamContainerItem__text h3 {
        font-size: 12px; } }
    @media screen and (max-width: 480px) {
      .teamContainerItem__text p {
        font-size: 10px; } }
    @media screen and (max-width: 480px) {
      .teamContainerItem__text {
        padding: 1vw; } }
  .teamContainerItem__social {
    display: flex;
    position: absolute;
    bottom: 40px; }
    @media screen and (max-width: 480px) {
      .teamContainerItem__social {
        bottom: 2%; } }
    .teamContainerItem__social i {
      margin: 8px; }
  .teamContainerItem:hover {
    transform: scale(1.02); }
  .teamContainerItem:hover .teamContainerItem__text, .teamContainerItem:hover .teamContainerItem__tail {
    display: block; }

.feedback {
  background-color: #f5f5f5;
  text-align: center;
  position: relative; }
  .feedback input {
    display: none; }
  .feedback #feedbackCheckboxImg1:checked ~ .container1 {
    position: relative;
    transform: translate(0);
    top: 0;
    opacity: 1;
    z-index: 5; }
  .feedback #feedbackCheckboxImg1:checked ~ label[for~=feedbackCheckboxImg1] .dots__item {
    transform: scale(1.3);
    background: #77efe5; }
  .feedback #feedbackCheckboxImg2:checked ~ .container2 {
    position: relative;
    transform: translate(0);
    top: 0;
    opacity: 1;
    z-index: 5; }
  .feedback #feedbackCheckboxImg2:checked ~ label[for~=feedbackCheckboxImg2] .dots__item {
    transform: scale(1.3);
    background: #77efe5; }
  .feedback #feedbackCheckboxImg3:checked ~ .container3 {
    position: relative;
    transform: translate(0);
    top: 0;
    opacity: 1;
    z-index: 5; }
  .feedback #feedbackCheckboxImg3:checked ~ label[for~=feedbackCheckboxImg3] .dots__item {
    transform: scale(1.3);
    background: #77efe5; }
  .feedback #feedbackCheckboxImg4:checked ~ .container4 {
    position: relative;
    transform: translate(0);
    top: 0;
    opacity: 1;
    z-index: 5; }
  .feedback #feedbackCheckboxImg4:checked ~ label[for~=feedbackCheckboxImg4] .dots__item {
    transform: scale(1.3);
    background: #77efe5; }
  .feedbackContainer {
    position: absolute;
    width: 100%;
    top: 50px;
    display: flex;
    padding-top: 38px;
    margin-top: 130px;
    opacity: 0;
    transition: 0.5s ease-out; }
    @media screen and (max-width: 1000px) {
      .feedbackContainer {
        flex-direction: column;
        align-items: center; } }
    @media screen and (max-width: 550px) {
      .feedbackContainer {
        margin-top: 50px; } }
    .feedbackContainer__background {
      position: relative;
      width: 450px;
      background-color: #ecedef;
      height: 360px;
      margin-right: 5vw; }
      @media screen and (max-width: 1000px) {
        .feedbackContainer__background {
          margin: 0; } }
      @media screen and (max-width: 550px) {
        .feedbackContainer__background {
          width: 85%;
          height: 70vw; } }
    .feedbackContainer__img {
      position: absolute;
      top: -38px;
      left: 38px;
      box-shadow: 0 0 30px lightgrey;
      transition: 0.2s ease-in-out; }
      @media screen and (max-width: 550px) {
        .feedbackContainer__img {
          top: -7vw;
          left: 7vw;
          width: 80%; } }
      .feedbackContainer__img:hover {
        transform: scale(1.02); }
    .feedbackContainer__textarea {
      box-sizing: border-box;
      background-color: #ecedef;
      height: 360px;
      width: calc(100% - 530px);
      padding: 3vw;
      transition: 0.2s ease-in-out;
      max-width: 600px; }
      .feedbackContainer__textarea:hover {
        box-shadow: inset 0 0 30px lightgrey; }
      @media screen and (max-width: 1000px) {
        .feedbackContainer__textarea {
          width: 450px;
          padding: 80px 38px 0 38px; } }
      @media screen and (max-width: 550px) {
        .feedbackContainer__textarea {
          width: 85%;
          padding: 0 5vw 0 5vw;
          height: 60vw; }
          .feedbackContainer__textarea h3 {
            font-size: 14px; }
          .feedbackContainer__textarea p {
            font-size: 12px; } }
      @media screen and (max-width: 460px) {
        .feedbackContainer__textarea {
          height: 80vw; } }
      @media screen and (max-width: 350px) {
        .feedbackContainer__textarea {
          height: 100vw; } }
  .feedback .dots__item {
    display: inline-block;
    margin-top: 80px;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: #d0d0d0;
    cursor: pointer;
    transition: 0.5s ease-in-out; }
    .feedback .dots__item:hover {
      transform: scale(1.3);
      background: #77efe5; }
    @media screen and (max-width: 600px) {
      .feedback .dots__item {
        width: 20px;
        height: 20px;
        margin: 80px 5px 0 5px; } }

.partners {
  padding-top: 50px;
  padding-bottom: 50px; }
  .partners img {
    width: calc((100% - 20px)/6);
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s ease-in-out; }
    @media screen and (max-width: 900px) {
      .partners img {
        width: calc((100% - 20px)/3); } }
    @media screen and (max-width: 480px) {
      .partners img {
        width: 70%; } }
    .partners img:hover {
      filter: grayscale(0);
      opacity: 1; }
  .partnersContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 900px) {
      .partnersContainer {
        flex-wrap: wrap; } }

.contact {
  background: url("../img/contact_bg.png") no-repeat center;
  background-size: cover;
  opacity: 0.7;
  color: white; }
  .contactContent {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 900px) {
      .contactContent {
        flex-direction: column;
        align-items: center;
        justify-content: space-between; } }
    .contactContent__form {
      box-sizing: border-box;
      width: 55%;
      height: 400px;
      background-color: #021623;
      opacity: 0.71;
      padding: 35px; }
      @media screen and (max-width: 900px) {
        .contactContent__form {
          width: 80%; } }
      .contactContent__form * {
        font-family: Raleway,sans-serif;
        border: none;
        border-bottom: 1px solid darkgray;
        cursor: default; }
      .contactContent__form *:not(:first-child) {
        margin-top: 15px; }
      .contactContent__form input:not(:last-child) {
        width: 100%;
        background-color: #021623;
        line-height: 3;
        color: white; }
      .contactContent__form textarea {
        background-color: #021623;
        width: 100%;
        color: white;
        resize: none; }
      .contactContent__form input:last-child {
        border: none;
        display: block;
        width: 244px;
        background-color: #6df6eb;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 2.16px;
        cursor: pointer;
        transition: 0.2s ease-in-out; }
        .contactContent__form input:last-child:hover {
          background-color: white;
          transform: scale(1.02); }
        @media screen and (max-width: 450px) {
          .contactContent__form input:last-child {
            width: 100%;
            font-size: 14px; } }
    .contactContent__address {
      width: 40%;
      height: 400px;
      background-color: #021623;
      opacity: 0.71;
      font-size: 12px;
      padding: 35px;
      box-sizing: border-box;
      color: darkgray; }
      @media screen and (max-width: 900px) {
        .contactContent__address {
          width: 80%;
          margin-top: 20px;
          height: auto; } }
      .contactContent__address a {
        text-decoration: none;
        color: darkgray; }
      .contactContent__address img {
        width: 100%;
        height: auto;
        cursor: pointer;
        transition: 0.2s ease-in-out; }
        .contactContent__address img:hover {
          transform: scale(1.03); }

.footer {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #262b2e;
  letter-spacing: 0.16px; }
  .footerSocial {
    margin-top: 13px; }
    .footerSocial__icon {
      display: inline-block;
      margin: 3px;
      background-color: #8a8a8a;
      opacity: 0.4;
      padding: 10px 15px;
      transition: 0.2s ease-in-out; }
      .footerSocial__icon svg {
        fill: #faf4f4; }
      .footerSocial__icon:hover {
        background-color: #71f6eb;
        opacity: 1; }
        .footerSocial__icon:hover svg {
          fill: black; }
  .footer p:last-child {
    opacity: 0.4;
    margin-top: 23px; }
