*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
}

h2 + p{
  opacity: 0.62;
  color: #000000;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  text-align: center;
}

h3{
  opacity: 0.75;
  color: #000000;
  font-family: 'Merriweather', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

h3 + p{
  margin: 20px 0 20px 0;
  opacity: 0.74;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
  text-transform: none;
}

.block{
  padding: 130px 5vw 125px 5vw;
}

.container{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 120px;
  @media screen and (max-width: 600px) {
    margin-top: 20px;
  }
  & img{
    margin: 7px;
    //@media screen and (max-width: 400px){
    //  width: 90vw;
    //  height: 105vw;
    //}
  }
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

.header{
  background: #eff0f2;
  position: relative;
  text-align: center;
  padding: 65px 5vw 0 5vw;
  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease-in-out;
    &__icon{
      width: 113px;
      border: 6px solid #170f1c;
      font-size: 17px;
      font-weight: 700;
      text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
      line-height: 44px;
      letter-spacing: 1.02px;
      text-align: center;
      vertical-align: center;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover{
        transform: scale(1.05);
      }
      & span{
        color: #77efe5;
        font-size: 21px;
        letter-spacing: 1.26px;
      }
    }
    i {
      color: #505050;
      cursor: pointer;
    }
  }
  &__content{
    padding-top: 200px;
    text-align: center;
    width: 100%;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    color: #505050;
    font-size: 20px;
    font-weight: 800;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 150px;
    @media screen and (max-width: 600px) {
      padding-top: 100px;
      font-size: 14px;
      margin-bottom: 50px;
    }
    & span{
      background-color: #77efe5;
    }
  }
  &__contactBtn{
    display: inline-block;
    padding: 20px 48px 20px 48px;
    border-radius: 2px;
    border: 2px solid #000000;
    opacity: 0.75;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.16px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    margin-bottom: 200px;
    &:hover{
      background: black;
      color: white;
    }
  }
  &__glass{
    position: absolute;
    right: 5vw;
    bottom: 5vw;
  }
}

.about{
  text-align: center;
  background-color: #f8fafa;
  @media screen and (max-width: 600px) {
    padding: 50px 5vw 20px 5vw;
  }
  &Content{
    display: flex;
    justify-content: space-around;
    margin: 150px 0 150px 0;
    @media screen and (max-width: 900px) {
      margin: 50px 0 50px 0;
      flex-direction: column;
      align-items: center;
    }
    &__img{
      position: relative;
      margin-right: 50px;
      @media screen and (max-width: 900px) {
        margin: 0;
      }
      img{
        position: absolute;
        left: 44px;
        box-shadow: 0 0 30px lightgrey;
        transition: 0.5s ease-in-out;
        z-index: 10;
        &:hover{
          transform: scale(1.05);
        }
        @media screen and (max-width: 500px) {
          width: 70vw;
          left: 5vw;
        }
      }
      .bgRectangle{
        margin-top: 35px;
        width: 479px;
        height: 412px;
        background-color: #eff0f2;
        position: relative;
        @media screen and (max-width: 500px) {
          width: 80vw;
          height: 74vw;
          margin-top: 7vw;
        }
      }
      .dots{
        display: flex;
        position: absolute;
        bottom: -85px;
        left: 210px;
        @media screen and (max-width: 900px) {
          bottom: -80px;
          left: 43%;
        }
        &__item{
          width: 10px;
          height: 10px;
          border-radius: 3px;
          margin: 2px;
          background-color: #d0d0d0;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover{
            transform: scale(1.3);
            background: #77efe5;
          }
        }
      }
    }
    &__text{
      width: 475px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 900px) {
        margin-top: 150px;
        width: 80vw;
      }
      & h3{
        @media screen and (max-width: 900px) {
          text-align: center;
        }
      }
      & p{
        @media screen and (max-width: 900px) {
          text-align: justify;
        }
      }
    }
  }
}

.works{
  @media screen and (max-width: 600px) {
    padding: 50px 5vw 50px 5vw;
  }
  &Container{
    img{
      transition: 0.1s ease-in-out;
      &:hover{
        transform: scale(1.03);
        box-shadow: #c4c2c1 0 0 25px;
      }
      &:active{
        transform: scale(0.97);
        box-shadow: none;
      }
      //@media screen and (max-width: 400px){
      //  width: 90vw;
      //}
    }
  }
}

.services{
  background-color: #f9fbfb;
  @media screen and (max-width: 600px) {
    padding: 50px 5vw 50px 5vw;
  }
  &Container{
    &Item{
      position: relative;
      &__text{
        display: inline-block;
        position: absolute;
        height: calc(100% - 18px - 120px);
        width: calc(100% - 15px - 120px);
        left: 7px;
        top: 7px;
        background-color: rgba(0,0,0,0.6);
        padding: 60px;
        color: white;
        &:hover{
          background-color: #6df6eb;
          color: black;
        }
        h3, p, a{
          color: inherit;
          opacity: 1;
          text-decoration: none;
        }
        &:hover a{
          display: none;
        }
      }
    }
  }
}

.team{
  @media screen and (max-width: 600px) {
    padding: 50px 5vw 50px 5vw;
  }
  &Container{
    &Item{
      display: flex;
      position: relative;
      &__tail{
        display: none;
        width: 50px;
        height: 50px;
        background-color: #6df6eb;
        position: absolute;
        left: 40px;
        transform: rotate(45deg);
        bottom: 250px;
      }
      &__text{
        display: none;
        position: absolute;
        padding: 40px;
        height: 45%;
        width: 70%;
        bottom: 15px;
        left: 15px;
        background-color: #6df6eb;
        box-shadow: 10px 10px 16px rgba(20, 20, 21, 0.18);
        & span{
          font-style: italic;
          font-size: 14px;
          text-transform: none;
          color: #767070;
        }
      }
      &__social{
        display: flex;
        position: absolute;
        bottom: 40px;
        & i{
          margin: 8px;
        }
      }
      &:hover{
        transform: scale(1.02);
      }
      &:hover .teamContainerItem__text, &:hover .teamContainerItem__tail{
        display: block;
      }
    }
  }
}